<%= form_for @profile do |f| %>
  <% if @profile.errors.any? %>
  <h2><%= pluralize(@profile.errors.count, "error") %> prevented this profile from saving</h2>
  <ul>
    <% @profile.error.full_message.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>


  <%= f.label :profile_url, "enter url here" %><br>
  <%= f.text_field :profile_url %>

  <br>
  <br>



  <%= f.submit %>

<% end %>