<h1>Search Profiles</h1>

<%= form_tag(profiles_path, :method => "get", id: "search-form") do %>

	<%= text_field_tag :name, params[:name], placeholder: "Search Profile names" %>

	<br>
	<br>

	<%= text_field_tag :title, params[:title], placeholder: "Search title" %>

	<br>
	<br>

	<%= text_field_tag :position, params[:position], placeholder: "Search position" %>

	<br>
	<br>

	<%= text_field_tag :summary, params[:summary], placeholder: "Search summary" %>

	<br>
	<br>

	<%= text_field_tag :skills, params[:skills], placeholder: "Search Skills" %>
	<br>
	<br>
	<%= submit_tag "Search" %>

<% end %>

<br>

<h4>Search Results:</h4>
<ul>
<% for profile in @profiles %>
  <li>
    <%= link_to profile.name, profile_path(profile) %>

  </li>
<% end %>
</ul>