<div>

  <h1>Full name: <%= @profile.name %></h1>
  <h2>Title: <%= @profile.title %></h2>
  <h3>Current Position: <%= eval(@profile.position)[:title] %> at
   <%= eval(@profile.position)[:company] %> </h3>
  <h4>Summary: <%= @profile.summery %></h4>
  <h4>Skills:    <%= @profile.skills %> </h4>
  <h4>Education:    <%= @profile.education %></h4>
  <h4>Experience:    <%= @profile.experience %></h4>
  <h4>Score:    <%= @profile.score %></h4>

</div>