<div>
  <h1><%= @profile.name %></h1>
  <h2><%= @profile.title %></h2>
  <h3><%= @profile.position %></h3>
  <h4><%= @profile.profile_url %></h4>
  <h4><%= @profile.summery %></h4>
  <h4><%= @profile.skills %></h4>
  <h4><%= @profile.education %></h4>
  <h4><%= @profile.experience %></h4>

</div>